# Retired PlatformIO/clangd local artifacts
firmware/.pio/
firmware/compile_commands.json
firmware/.cache/
firmware/.clangd

# Zephyr
build/
firmware/build/
.west/

# Nix
.direnv/
result

# KiCad
hardware/*.kicad_sch-bak
hardware/*.kicad_pcb-bak
hardware/*.bak
hardware/*-backups/
hardware/_autosave-*
hardware/*.lck
hardware/gerbers/
